body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}
h1{
  font-size: 5.625rem;
  color: #006D77;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: Hatton-Regular,Arial,Helvetica,sans-serif;;
  font-size: 2.5rem;
  font-weight: normal;
  color: #006D77;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #E29578;

}
.footer-link{
  color: #83C5BE ;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 20px;
}
.footer-link:hover{
  color:#EDF6F9;
}

hr{
  border-width: 6px 0 0 0;
  border-color: #83C5BE;
  border-style: dotted;
  width: 5%;
  margin-top:50px;
}
.profile p{
  width: 25%;
  margin: 50px auto 80px auto;
  line-height: 2;
}
.prfl-img{
  height:200px;
  border-radius: 100px;
}
.top-container{
  background-color: #EDF6F9;
  position: relative;
  padding-top: 100px;
  margin-bottom: 80px;
}

.bottom-container{
  background-color: #006D77;
  height:100px;
  margin-top: 100px;
  padding: 50px 0 20px 0;

}
.bottom-container p{
  margin-top: 40px;
  color: #EDF6F9;
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skill-row{
  width:50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-1{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100px;
}
.skill-2{
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius:100px;

}
.skill-3{
  width: 22%;
  float: left;
  margin-right: 30px;
  height: 160px;

}
.skills h2{
  margin-top: 100px;
}
.contact-me p{
  width: 50%;
  margin: 40px auto 70px auto;
}
.contact-me h2{
  margin-top: 100px;
  margin-bottom: 40px;
}
.btn {
  background: #E29578;
  background-image: -webkit-linear-gradient(top, #E29578, #ba826d);
  background-image: -moz-linear-gradient(top, #E29578, #ba826d);
  background-image: -ms-linear-gradient(top, #E29578, #ba826d);
  background-image: -o-linear-gradient(top, #E29578, #ba826d);
  background-image: linear-gradient(to bottom, #E29578, #ba826d);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #f2b59f;
  background-image: -webkit-linear-gradient(top, #f2b59f, #d99982);
  background-image: -moz-linear-gradient(top, #f2b59f, #d99982);
  background-image: -ms-linear-gradient(top, #f2b59f, #d99982);
  background-image: -o-linear-gradient(top, #f2b59f, #d99982);
  background-image: linear-gradient(to bottom, #f2b59f, #d99982);
  text-decoration: none;
}
